.p {
    width: 30%;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-description {
    margin-left: 10px;
    margin-right: 12px;
}

.p-img {
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 480px) {
    .p {
        width: 40%;
        height: 20vh;
    }

    .p-img {
        height: 175px;
    }
}